<!--The content below is only a placeholder and can be replaced.-->

<header>
  <img class="header_img" src="../assets/alternative_background.jpg">
  <div class="logo-container">
    <a routerLink="/dashboard"><img class="logo-img" src="../assets/logo_huawei.png"></a>
  </div>
  <div class="slogan-container">
    <span>Make it possible!!!</span>
  </div>
</header>

<!-- Content from routing -->
<router-outlet></router-outlet>

<!-- Copyrights Section -->
<footer class="footer">
  <div class="footer-big">
    <div class="footer-logo">
      <img src="../assets/huawei_logo_white.png">
    </div>
    <div class="footer-social">
      <a class="icon-social social-fb" href="#"><i class="fab fa-facebook-f"></i></a>
      <a class="icon-social social-link" href="#"><i class="fab fa-linkedin-in"></i></a>
      <a class="icon-social social-in" href="#"><i class="fab fa-instagram"></i></a>
      <a class="icon-social social-tw" href="#"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
  <div class="footer-little">
    <div>
      &copy;HUAWEI Technologies Co. 1998 - 2018.<br>
      Paula Betancur.<br>
      All rights reserved.
    </div>
  </div>
</footer>


