<!--The content below is only a placeholder and can be replaced.-->

<header>
  <img class="header_img" src="../assets/alternative_background.jpg">
  <div class="logo-container">
    <a routerLink="/dashboard"><img class="logo-img" src="../assets/logo_huawei.png"></a>
  </div>
  <div class="slogan-container">
    <span>Make it possible!!!</span>
  </div>
</header>

<!-- Content from routing -->
<router-outlet></router-outlet>

<!-- Copyrights Section -->
<footer class="footer">
  <div class="footer-big">

  </div>
  <div class="footer-little">
    &copy;HUAWEI Technologies Co. 1998 - 2018.<br>
    All rights reserved.<br>
    Paula Betancur.
  </div>
</footer>


