.info-container {
  width: 90%;
  margin: 24px auto;
  background-color: #fff;
  box-shadow: 0 3px 6px hsla(0, 0%, 0%, 0.16);
}

.sub-container {
  padding: 0 16px;
}

.nav {
  position: relative;
  display: flex;
  width: 100%;
  padding: 0;
  text-align: center;
  justify-content: space-around;
  box-sizing: border-box;
  border-bottom: 1px solid #cccccc;
}

.nav-item {
  width: 16.66%;
  position: relative;
  padding: 10px 0;
  list-style: none;
}

.nav-link-mb {
  display: none;
}

.nav-link {
  position: relative;
  font-size: 14px;
  font-weight: 600;
  color: #1a1a1a;
  text-decoration: none;
}

.nav-item::after {
  content: "";
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  line-height: 0;
  position: absolute;
  height: 3px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: width 0.5s ease 0s, height 0.5s ease 0s;
  transition: width 0.5s ease 0s, height 0.5s ease 0s;
  width: 4px;
  z-index: 9;
  background: #ee1b24;
}

.nav-item:hover:after,
.nav-item:focus:after {
  opacity: 1;
  width: 100%;
}

.nav-link:active,
.nav-link:hover,
.nav-link:focus {
  color: #717070;
}

.nav-link span {
  background: #ee1b24;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  width: 20px;
  display: inline-block;
  border-radius: 10px;
  margin-right: 5px;
}

a.button {
  width: 100px;
  border: 2px solid #ee1b24;
  letter-spacing: 1px;
  padding: 7px 10px;
}

.select-btns {
  a {
    align-content: right;
    display: inline-block;
  }
}

.flex-right {
  text-align: right;
}

/*//////////////////////////////////////////////////////////////////
[ Scroll bar ]*/
.js-pscroll {
  position: relative;
  overflow: hidden;
}

.table100 .ps__rail-y {
  width: 9px;
  background-color: transparent;
  opacity: 1 !important;
  right: 5px;
}

.table100 .ps__rail-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ebebeb;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}

.table100 .ps__rail-y .ps__thumb-y {
  width: 100%;
  right: 0;
  background-color: transparent;
  opacity: 1 !important;
}

.table100 .ps__rail-y .ps__thumb-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #cccccc;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}


/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 1366px;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #fff;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1170px;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.table100 {
  background-color: #fff;
}

table {
  width: 100%;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column1 {
  width: 33%;
  padding-left: 40px;
}

.column2 {
  width: 13%;
}

.column3 {
  width: 22%;
}

.column4 {
  width: 19%;
}

.column5 {
  width: 13%;
}

.table100-head th {
  padding-top: 18px;
  padding-bottom: 18px;
}

.table100-body td {
  padding-top: 16px;
  padding-bottom: 16px;
}

/*==================================================================
[ Fix header ]*/
.table100 {
  position: relative;
  padding-top: 60px;
}

.table100-head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.table100-body {
  max-height: 585px;
  overflow: auto;
}

/*==================================================================
[ Ver3 ]*/

.table100.ver3 {
  background-color: #393939;
}

.table100.ver3 th {
  font-size: 14px;
  font-weight: 700;
  color: #ee1b24;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: #717070;
}

.table100.ver3 td {
  font-size: 15px;
  color: #808080;
  line-height: 1.4;
  background-color: #222222;
}

/*---------------------------------------------*/
.table100.ver3 {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.table100.ver3 .ps__rail-y {
  right: 5px;
}

.table100.ver3 .ps__rail-y::before {
  background-color: #4e4e4e;
}

.table100.ver3 .ps__rail-y .ps__thumb-y::before {
  background-color: #00ad5f;
}

/* ------------------------------------ */
.table-container {
  a {
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }

  a:focus {
    outline: none !important;
  }

  a:hover {
    text-decoration: none;
  }

  /* ------------------------------------ */
  h1,h2,h3,h4,h5,h6 {margin: 0px;}

  p {margin: 0px;}

  ul, li {
    margin: 0px;
    list-style-type: none;
  }


  /* ------------------------------------ */
  input {
    display: block;
    outline: none;
    border: none !important;
  }

  textarea {
    display: block;
    outline: none;
  }

  textarea:focus, input:focus {
    border-color: transparent !important;
  }

  /* ------------------------------------ */
  button {
    outline: none !important;
    border: none;
    background: transparent;
  }

  button:hover {
    cursor: pointer;
  }

  iframe {
    border: none !important;
  }
}
