<section class="container">

  <h2 class="title">Comparativo portafolios PO</h2>

  <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vehicula fringilla tellus, sed elementum lorem lacinia vel. Quisque nibh lacus, iaculis in sapien vel, pharetra tempus lorem. Aliquam semper volutpat nisl. Integer vel ligula sodales,

    ultrices felis vitae, imperdiet diam. Donec pulvinar elementum turpis, quis cursus nunc rutrum id. Proin ac sem id mauris malesuada scelerisque vitae nec felis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos

    himenaeos. Nunc id tellus tortor.



    <a class="link-compare" href="">Comparar nuevamente</a>

  </div>

  <div class="info-container">

    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="#"><span>1</span> SICTE</a>
        <a class="nav-link-mb active" href="#">1</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#"><span>2</span> DICO</a>
        <a class="nav-link-mb" href="#">2</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#"><span>3</span> DICO</a>
        <a class="nav-link-mb" href="#">3</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#"><span>4</span> DICO</a>
        <a class="nav-link-mb" href="#">4</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#"><span>5</span> DICO</a>
        <a class="nav-link-mb" href="#">5</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#"><span>6</span> DICO</a>
        <a class="nav-link-mb" href="#">6</a>
      </li>

    </ul>

    <div class="sub-container">
      <div class="select-btns flex-right">
        <a class="button" (click)="getAvailableList()">AVAILABLE</a>
        <a class="button">CREATE</a>
      </div>

      <div class="table-container">
        <div class="table100 ver3 m-b-110">
            <div class="table100-head">
              <table>
                <thead>
                <tr class="row100 head">
                  <th class="cell100 column1">PO</th>
                  <th class="cell100 column2">No. SPR</th>
                  <th class="cell100 column3">PR Line Quantity</th>
                  <th class="cell100 column4">Code Item</th>
                  <th class="cell100 column5">Description</th>
                </tr>
                </thead>
              </table>
            </div>

            <div class="table100-body js-pscroll">
              <table>
                <tbody>
                <tr class="row100 body" *ngFor="let product of products">
                  <td class="cell100 column1">{{product.poNumber}}</td>
                  <td class="cell100 column2">{{product.sprNumber}}</td>
                  <td class="cell100 column3">{{product.itemCode}}</td>
                  <td class="cell100 column4">{{product.quantityDV}}</td>
                  <td class="cell100 column5">{{product.description}}</td>
                </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>


  </div>
</section>
