<div class="container">
  <section class="selector_container">
    <div class="col-1-4">
      <div class="col-content" (click)="goToLoadFiles()">
        <div class="icon">
          <img src="../../assets/sample_img.png" width="80" height="80">
        </div>
        <div class="title">
          <h2>SUPPLIERS</h2>
        </div>
      </div>
    </div><!-- No spaces
---><div class="col-5-8">
      <div class="col-content" (click)="goToLoadFilesCities()">
        <div class="icon">
          <img src="../../assets/icon_cities.png" width="80" height="80">
        </div>
        <div class="title">
          <h2>CITIES</h2>
        </div>
      </div>
    </div><!-- No spaces
---><div class="col-9-12">
      <div class="col-content">
        <div class="icon">
          <img src="../../assets/icon_view.png" width="80" height="80">
        </div>
        <div class="title">
          <h2>VIEW DETAILS</h2>
        </div>
      </div>
    </div>
  </section>
</div>


